.artist {
  //   border: 1px solid yellowgreen;
  width: 60%;
  margin: 7vh auto;
  display: flex;
  justify-content: space-evenly;

  .imgContainer {
    background-color: #ffeac4;
    max-width: 200px;
    max-height: 320px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .textArea {
    // border: 1px solid blueviolet;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      font-size: 26px;
      font-weight: 700;
    }
  }
}
