.trackList {
  margin: 3vh auto;
  tbody {
    border: 1px solid purple;

    tr.oneTrack {
      td {
        .imgContainer {
          img {
          }
        }
      }

      td.textArea {
        width: 330px;
        display: flex;

        justify-content: center;
        align-items: center;
        height: 100%;
      }

      td {
        height: 70px;
      }
    }
  }
}
